################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db-shm
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db-wal
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.opendb
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/24ed38af-400f-410a-8fc3-3b9dd4ba0b4c.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/b285575c-aa30-4622-b694-37410a9e766a.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/c80dfc64-07ae-4f04-a2c9-086293ff879e.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/8bc93717-8d77-4d96-b9f0-40d0d641ceb7.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/50279fd5d2337f53/JEUDELAVIE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/4d605cde-9a13-4f54-ac72-c362b5d002b8.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/7dee97f9585fb198/GRILLE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/8102863572df4f33/JEU.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/.suo
/JeuDeLaVie/.vs/JeuDeLaVie/v17/DocumentLayout.json
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/a71a7483-6a56-4934-926e-04095ddde0f5.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/f1d52dd1afd578e6/FENETRE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/88771e8d-eb74-4ce8-807c-f2fd9f10d4ad.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/DocumentLayout.backup.json
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/1e4322b5-e750-45a5-bb08-27a657a73ead.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/33af0258-a06f-40dc-9a7c-e96e4cfbfdf8.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/98bc4f40-c46c-4c37-876d-4fa05e7f0fae.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/49cf784e815ce16a/VCTMP20792_758437.FENETRE.00000000.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/57c1e5f993c84b54
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/57c1e5f993c84b54/GRILLE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/7f1f2a655b8af63a
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/7f1f2a655b8af63a/FENETRE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/b8a1f40c1abf7a27
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/b8a1f40c1abf7a27/JEU.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/e63abde10d6f9ea7
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/e63abde10d6f9ea7/JEUDELAVIE.ipch
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/e95d3dde-dfa5-4215-9d5d-f8db93de0a33.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/b318262d-ca8e-4b0a-ae59-0f03cf377a9f.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/f598f674-40e2-403f-aec4-6e31bc32d5b4.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/2de20907-a74c-47ac-8f26-4fd4a5e677cf.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/fe8027d9-814a-4f69-9e31-578597c383b6.vsidx
*.vsidx
