################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db-shm
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.db-wal
/JeuDeLaVie/.vs/JeuDeLaVie/v17/Browse.VC.opendb
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/24ed38af-400f-410a-8fc3-3b9dd4ba0b4c.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/b285575c-aa30-4622-b694-37410a9e766a.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/c80dfc64-07ae-4f04-a2c9-086293ff879e.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/FileContentIndex/8bc93717-8d77-4d96-b9f0-40d0d641ceb7.vsidx
/JeuDeLaVie/.vs/JeuDeLaVie/v17/ipch/AutoPCH/50279fd5d2337f53/JEUDELAVIE.ipch
